<section class="section--info">
  <div class="info grid grid--2-cols">
            <!-- TextCol -->
            <div class="info__text-box">
                <div class="project-number-box project-number-box--info">
                    <span class="project-number-box__num">
                      1
                    </span>
                    <span class="project-number-box__desc">Sample text</span>
                </div>

              <h2 class="info__heading">Info heading 1 for testing</h2>
              <p class="info__text">Минимализъм, открояващ се с модерни детайли, естествени материали придаващи на пространството щедра атмосфера. Акцентирали сме върху различни нюанси на синия цвят, които пасват с цялостния интериорен дизайн. Апартаментът се състои от кухня с дневна и трапезация, спалня и антре с обща площ 90,5 м2.</p>
              
            </div>

            <!-- ImageCol -->
            <div class="info__img-col <?php echo $imgSide; ?>">
                <div class="info__img-box">
                    <img class="info__img" src="{{ section.settings.image | image_url: master }}" alt="" />
                </div>
            </div>


    </div>
</section>


{% schema %}
  {
    "name": "Section name",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },

      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      }
    ],

    "presets": [
      {
        
      "name": "Section - Info",
      "settings": {
      }
      }
    ]
  }
{% endschema %}

{% stylesheet %}
  .grid {
    display: grid;
  }

  .grid--2-cols {
  grid-template-columns: 1fr 1fr;
  }
  .section--info {
  background-color: #222;
  padding: 12.8rem 0 9.8rem;
}

.info {
    display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  grid-auto-flow: dense;
  min-height: 500px;
}

  .info__img-col {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .info__img-box {
    border: 1px solid #fff;
    position: relative;
    width: 80%;
    height: 100%;
  }

  .info__img {
    position: absolute;
    top: -30px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2px;
  }

  .info__img-col.left .info__img {
    right: -40px;
  }

  .info__img-col.right .info__img {
    left: -40px;
  }

  .info__text-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px 20px;
    position: relative;
  }

  .info__heading {
    display: inline-block;
    align-self: flex-start;
    border-bottom: 1px solid #fff;
    color: #eee;
    padding-bottom: 2px;
    font-size: 35px;
    letter-spacing: 2px;
    margin-bottom: 32px;
  }

  .info__text {
    color: #ccc;
    line-height: 1.9;
    letter-spacing: 1px;
  }

  .info__text:not(:last-child) {
      margin-bottom: 20px;
    }
{% endstylesheet %}

{% javascript %}
{% endjavascript %}