{% section 'product-content' %}
<div class="product-features">
    {% section 'features' %}
    {% style %}
    .product-features {
      margin-top: 8rem;
    }
      .product-features .features {
        width: 100%;
        justify-content: space-evenly;
      }
    {% endstyle %}
</div>

{% section 'recommended-products' %}


